<!DOCTYPE html> 
<html>

<head>
  <title>Free HTML5 Templates</title>
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <link id="styleCss" rel="stylesheet" type="text/css" href="css/style1.css" media="screen" />
  <meta http-equiv="Context-Type" context="text/html;charset=UTF-8" />
<!-- Meta -->
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="../../../assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/flexslider/flexslider.css">    
    <link rel="stylesheet" href="../../../assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/plugins/layer-slider/layerslider/css/layerslider.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="../../../assets/css/themes/default.css" id="style_color">
<link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="../../../assets/css/custom.css">  
  
</head>

<body>
  <div id="header" >
     <h1>블링크 <span class="logo">blink</span></h1>
          <ul id="nav">
            <li><a href="index.html">홈페이지</a></li>
            <li><a href="menu1.html">메뉴1</a></li>
            <li><a href="menu2.html">메뉴2</a></li>
            <li><a href="">메뉴3</a></li>
            <li><a href="">메뉴4</a></li>
          </ul>
  </div>
  
  <div id="div1">
    <img src="images/img.jpg">
  </div>
  
  <div id="side">
    <div class="sidebar_item">
    <h2>최근 게시물</h2>
    <h3>2014-08-20</h3>
    <p>#광복절_국기게양_이벤트 대한민국이 빛을 되찾은 날 광복절 하루만큼은 우리의 자랑스런 태극기를 게양합시다!</p>
    </div><!--close sidebar_item--> 
    <div class="sidebar_item">
        <h3>2014-08-18</h3>
        <p>수능 D-100 수험생 여러분을 응원합니다! #수포자도_풀수있는_넌센스수학문제</p>         
</div><!--close sidebar_item--> 
    <div class="sidebar_item">
        <h2>Contact</h2>
        <p>Phone: +44 (0)1234 567891</p>
        <p>Email: <a href="mailto:info@youremail.co.uk">info@youremail.co.uk</a></p>
    </div><!--close sidebar-->
  </div>

  <div id="content">
        <div id="con1">
        <h2>안녕하십니까</h2>
<h3>저희 빙그레 홈페이지를 방문해주신 고객 여러분께 진심으로 감사 드립니다.</h3>
         <p>빙그레는 지난 1967년 첫 발을 내디딘 이래, 다양한 맛과 영양, 그리고 건강한 제품으로 고객의 미소와 함께 성장해 왔습니다.<br>혁신적 사고와 우수한 마케팅력을 기반으로 생산된 우리나라 최초의 정통 아이스크림인 '투게더', 떠먹는 요구르트의 효시인 '요플레', 국민 브랜드 '바나나맛우유' 와 세계인의 입맛을 사로 잡은, 아이스크림 업계의 살아있는 전설 '메로나' 등 그 어느 기업보다도 많은 제품들이 오랫동안 고객 여러분들의 사랑을 받아오고 있습니다.</p>
        </div>
        
        <div id="con2">
   <p>1974년에 태어난 국민 우유. <br>빙그레 바나나맛우유는 그 달콤한 맛과 독특한 병 모양으로 전국민의 사랑을 받고 있는 가공유 No.1 제품입니다.<br>단지우유,항아리 우유라고도 불리는 빙그레 바나나맛우유와 함께 마음까지 든든하게 채우세요~!</p>
   <div id="btn">
<button class="modern">자세히 보기</button>
</div>

</div>
  </div>
<div id="con3">
<p>1974년에 태어난 국민 우유. <br>빙그레 바나나맛우유는 그 달콤한 맛과 독특한 병 모양으로 전국민의 사랑을 받고 있는 가공유 No.1 제품입니다.<br>단지우유,항아리 우유라고도 불리는 빙그레 바나나맛우유와 함께 마음까지 든든하게 채우세요~!</p>
<div id="btn">
<button class="modern">자세히 보기</button>
</div>

</div>
  
    <div id="footer">
 <a href="index.html">홈페이지</a> | <a href="ourwork.html">메뉴1</a> | <a href="testimonials.html">메뉴2</a> | <a href="projects.html">메뉴3</a> | <a href="contact.html">메뉴4</a><br/><br/>
 2014 © copyright
    </div>
</body>
</html>
