<!DOCTYPE html> 
<html>

<head>
  <title>Free HTML5 Templates</title>
  <meta http-equiv="Context-Type" context="text/html;charset=UTF-8" />
  <meta name="description" content="website description" />
  <meta name="keywords" content="website keywords, website keywords" />
  <meta http-equiv="content-type" content="text/html; charset=windows-1252" />
  <link id="styleCss" rel="stylesheet" type="text/css" href="css/style1.css" media="screen" />
<!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
	<meta charset="UTF-8">
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="../../../assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/flexslider/flexslider.css">    
    <link rel="stylesheet" href="../../../assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/plugins/layer-slider/layerslider/css/layerslider.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="../../../assets/css/themes/default.css" id="style_color">
	 <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="../../../assets/css/custom.css">

</head>

<body>
  <div id="header" >
	      <h1>블링크 <span class="logo">blink</span></h1>
          <ul id="nav">
            <li><a href="index.html">홈페이지</a></li>
            <li><a href="menu1.html">메뉴1</a></li>
            <li><a href="menu2.html">메뉴2</a></li>
            <li><a href="">메뉴3</a></li>
            <li><a href="">메뉴4</a></li>
          </ul>
  </div>
  
  <div id="div1">
   	<img src="images/img.jpg">
  </div>  
  <div id="side">
    <div class="sidebar_item">
    	<h2>최근 게시물</h2>
    	<h3>2014-08-20</h3>
    	<p>#광복절_국기게양_이벤트 대한민국이 빛을 되찾은 날 광복절 하루만큼은 우리의 자랑스런 태극기를 게양합시다!</p>
    </div><!--close sidebar_item--> 
    <div class="sidebar_item">
        <h3>2014-08-18</h3>
        <p>수능 D-100 수험생 여러분을 응원합니다! #수포자도_풀수있는_넌센스수학문제</p>         
	</div><!--close sidebar_item--> 
    <div class="sidebar_item">
        <h2>Contact</h2>
        <p>Phone: +44 (0)1234 567891</p>
        <p>Email: <a href="mailto:info@youremail.co.uk">info@youremail.co.uk</a></p>
    </div><!--close sidebar-->
  </div>   
		<div id="contact">
			<div id="sub">
				<h1>CONTACT</h1>
			</div>
			<div id="input1">
				<input type="text" class="simple-input"  placeholder="Name" />
			</div>
			<div id="input2">
				<input type="text" class="simple-input"  placeholder="Email" />
			</div>
			<div id="input3">
				<input type="text" class="simple-input"  placeholder="Subject" />
			</div>
			<div id="input4">
				<input type="text" class="simple-message"  placeholder="Message" />
			</div>
			<div id="btn">
			<button class="modern">Send Message</button>
			</div>

		</div>

		<div id="footer">
			© 2014 BY FREE LINE CREATIVE STUDIO. PROUDLY MADE BY BLINK
		</div>
  
</body>
</html>
