<!DOCTYPE html>
<html>
<head>
<title>Yoga | Classes</title>
<meta charset="utf-8">
<!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="../../../assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/flexslider/flexslider.css">    
    <link rel="stylesheet" href="../../../assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/plugins/layer-slider/layerslider/css/layerslider.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="../../../assets/css/themes/default.css" id="style_color">
	 <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

    <!-- CSS Customization -->
	<link id="styleCss" rel="stylesheet" type="text/css" href="css/style1.css" media="screen" />
  
    
</head>
<body>
<div id="header">
  <ul>
   <li><a href="index.html"><span>Home</span></a></li>
    <li><a href="services.html"><span>Services</span></a></li>
    <li class="current"><a href="classes.html"><span>Classes</span></a></li>
    <li><a href="videos.html"><span>Videos</span></a></li>
    <li><a href="membership.html"><span>Membership</span></a></li>
    <li><a href="about.html"><span>About Us</span></a></li>
    <li><a href="blog.html"><span>Blog</span></a></li>
    <li><a href="contact.html"><span>Contact Us</span></a></li>
  </ul>
  <div>
    <div class="section"> <a href="#"><img src="images/y_logo.gif" alt=""></a>
      <div> Welcome to Yoga <a href="#">Join Us!</a> </div>
    </div>
  </div>
</div>


<div id="content">
  <div>
    <h2>Classes</h2>
    <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forum.</p>
    
    <div class="section">
      <div class="first"> <span>Integer sed risus lorem</span>
        <p id="box1"></p>
        <dl>
          <dt>Get Abs</dt>
          <dd>Every Monday - Wednesday : 8:30am-10:30pm</dd>
          <dt>Zumba</dt>
          <dd>Every Wednesday - Friday : 8:30am-10:30pm</dd>
          <dt>Stay Fit</dt>
          <dd>Every Friday - Sunday : 8:30am-10:30pm</dd>
        </dl>
      </div>
      <div> <span>Tristique lacus</span>
        <p>Maecenas sed massa sem. Aenean ultricies ante ac elit luctus auctor. Cras condimentum ultricies tellus vitae fringilla. Mollis nulla sed mi auctor consectetur, fusce gravida</p>
        <dl>
          <dt>Stay Sexy</dt>
          <dd>Every Monday - Wednesday : 8:30am-10:30pm</dd>
          <dt>Relaxing the mind</dt>
          <dd>Every Wednesday - Friday : 8:30am-10:30pm</dd>
          <dt>Body, and soul</dt>
          <dd>Every Friday - Sunday : 8:30am-10:30pm</dd>
        </dl>
      </div>
    </div>
    
    <div class="section">
      <div class="first"> 
      	<span>Integer sed risus lorem</span>
        <p>If you're having problems editing this website template, then don't hesitate to ask for help on the Forum.</p>
        <dl>
          <dt>Baby Ready</dt>
          <dd>Every Monday - Wednesday : 8:30am-10:30pm</dd>
          <dt>Meditate</dt>
          <dd>Every Wednesday - Friday : 8:30am-10:30pm</dd>
          <dt>Yoga</dt>
          <dd>Every Friday - Sunday : 8:30am-10:30pm</dd>
        </dl>
      </div>
      <div> <span>Tristique lacus</span>
        <p id="box2"></p>
        <dl>
          <dt>Zumba</dt>
          <dd>Every Monday - Wednesday : 8:30am-10:30pm</dd>
          <dt>Stay Fit</dt>
          <dd>Every Wednesday - Friday : 8:30am-10:30pm</dd>
        </dl>
      </div>
    </div>
  </div>
</div>


<div id="footer">
  <div>
    <div>
      <div id="connect"> <span>Follow Us:</span> <a href="#"><img src="images/icon-2.jpg" alt=""></a> <a href="#"><img src="images/icon-1.jpg" alt=""></a> </div>
      <div class="section">
        <ul>
          <li class="first"><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <p>Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved | Template By <a target="_blank" href="http://www.freewebsitetemplates.com/">FreeWebsiteTemplates.com</a></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
