<!DOCTYPE html>
<html>
<head>
<title>Yoga | Membership</title>
<meta charset="utf-8">
<!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="../../../assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/flexslider/flexslider.css">    
    <link rel="stylesheet" href="../../../assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/plugins/layer-slider/layerslider/css/layerslider.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="../../../assets/css/themes/default.css" id="style_color">
	 <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

    <!-- CSS Customization -->
	<link id="styleCss" rel="stylesheet" type="text/css" href="css/style1.css" media="screen" />
 
    
</head>
<body>
<div id="header">
  <ul>
   <li><a href="index.html"><span>Home</span></a></li>
    <li><a href="services.html"><span>Services</span></a></li>
    <li><a href="classes.html"><span>Classes</span></a></li>
    <li><a href="videos.html"><span>Videos</span></a></li>
    <li class="current"><a href="membership.html"><span>Membership</span></a></li>
    <li><a href="about.html"><span>About Us</span></a></li>
    <li><a href="blog.html"><span>Blog</span></a></li>
    <li><a href="ontact.html"><span>Contact Us</span></a></li>
  </ul>
  <div>
    <div class="section"> <a href="#"><img src="images/y_logo.gif" alt=""></a>
      <div> Welcome to Yoga <a href="#">Join Us!</a> </div>
    </div>
  </div>
</div>
<div id="content">
  <div>
    <h2>Weekly</h2>
    <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us.</p>
    <div>
      <ul class="first">
        <li>Aliquam eget liqula et diam sollicitud</li>
        <li>Sed venenatis arcu a felis aliquet et</li>
        <li>Sed laoreet felis et ante emelnasi</li>
        <li>Viverra arcu abantes felis aliquet</li>
        <li>Pellentesque consectetur tellus sed</li>
      </ul>
      <ul>
        <li>Tristique lacus fermentum arcu quis</li>
        <li>Donec lacinia justo venenatis justo</li>
        <li>Quis accumsan nisl felis tristique</li>
        <li>Fusce gravida tincidunt vitae lectus</li>
        <li>Sed elementum pompo viverra ipsum</li>
      </ul>
      <ul>
        <li>Diam sollicitud Aliquam eget ligula</li>
        <li>Venenatis arcu aces felis aliquet</li>
        <li>Felis et antessed laoreet quisieta</li>
        <li>Consectetur tellus Pellentesque</li>
        <li>Ullamcorper ut interdum sollicitud</li>
      </ul>
    </div>
    <h2>Monthly</h2>
    <p>If you're experiencing issues and concerns about this website template, join the discussion on our forum and meet other people in the community who share the same interests with you.</p>
    <div>
      <ul class="first">
        <li>Aliquam eget liqula et diam sollicitud</li>
        <li>Sed venenatis arcu a felis aliquet et</li>
        <li>Sed laoreet felis et ante emelnasi</li>
        <li>Viverra arcu abantes felis aliquet</li>
        <li>Pellentesque consectetur tellus sed</li>
      </ul>
      <ul>
        <li>Tristique lacus fermentum arcu quis</li>
        <li>Donec lacinia justo venenatis justo</li>
        <li>Quis accumsan nisl felis tristique</li>
        <li>Fusce gravida tincidunt vitae lectus</li>
        <li>Sed elementum pompo viverra ipsum</li>
      </ul>
      <ul>
        <li>Diam sollicitud Aliquam eget ligula</li>
        <li>Venenatis arcu aces felis aliquet</li>
        <li>Felis et antessed laoreet quisieta</li>
        <li>Consectetur tellus Pellentesque</li>
        <li>Ullamcorper ut interdum sollicitud</li>
      </ul>
    </div>
    <h2>Yearly</h2>
    <p>Looking for more templates? Just browse through all our Free Website Templates and find what you're looking for. But if you don't find any website template you can use, you can try our Free Web Design service and tell us all about it. Maybe you're looking for something different, something special. And we love the challenge of doing something different and something special.</p>
    <div>
      <ul class="first">
        <li>Aliquam eget liqula et diam sollicitud</li>
        <li>Sed venenatis arcu a felis aliquet et</li>
        <li>Sed laoreet felis et ante emelnasi</li>
        <li>Viverra arcu abantes felis aliquet</li>
        <li>Pellentesque consectetur tellus sed</li>
      </ul>
      <ul>
        <li>Tristique lacus fermentum arcu quis</li>
        <li>Donec lacinia justo venenatis justo</li>
        <li>Quis accumsan nisl felis tristique</li>
        <li>Fusce gravida tincidunt vitae lectus</li>
        <li>Sed elementum pompo viverra ipsum</li>
      </ul>
      <ul>
        <li>Diam sollicitud Aliquam eget ligula</li>
        <li>Venenatis arcu aces felis aliquet</li>
        <li>Felis et antessed laoreet quisieta</li>
        <li>Consectetur tellus Pellentesque</li>
        <li>Ullamcorper ut interdum sollicitud</li>
      </ul>
    </div>
  </div>
</div>
<div id="footer">
  <div>
    <div>
      <div id="connect"> <span>Follow Us:</span> <a href="#"><img src="images/icon-2.jpg" alt=""></a> <a href="#"><img src="images/icon-1.jpg" alt=""></a> </div>
      <div class="section">
        <ul>
          <li class="first"><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <p>Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved | Template By <a target="_blank" href="http://www.freewebsitetemplates.com/">FreeWebsiteTemplates.com</a></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
