<!DOCTYPE html>
<html>
<head>
<title>Yoga | Services</title>
<meta charset="utf-8">
<!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="../../../assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/flexslider/flexslider.css">    
    <link rel="stylesheet" href="../../../assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/plugins/layer-slider/layerslider/css/layerslider.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="../../../assets/css/themes/default.css" id="style_color">
	 <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

    <!-- CSS Customization -->
	<link id="styleCss" rel="stylesheet" type="text/css" href="css/style1.css" media="screen" />

    
</head>
<body>
<div id="header">
  <ul>
 	<li><a href="index.html"><span>Home</span></a></li>
    <li class="current"><a href="services.html"><span>Services</span></a></li>
    <li><a href="classes.html"><span>Classes</span></a></li>
    <li><a href="videos.html"><span>Videos</span></a></li>
    <li><a href="membership.html"><span>Membership</span></a></li>
    <li><a href="about.html"><span>About Us</span></a></li>
    <li><a href="blog.html"><span>Blog</span></a></li>
    <li><a href="contact.html"><span>Contact Us</span></a></li>
  </ul>
  
  <div>
    <div class="section"> <a href="#"><img src="images/y_logo.gif" alt=""></a>
      <div> Welcome to Yoga <a href="#">Join Us!</a> </div>
    </div>
  </div>
</div>
<div id="content">
  <div>
    <h2>Services</h2>
    <p>This website template has been designed by Free Website Templates for you, for free. You can replace all this text with your own text. You can remove any link to our website from this website template, you're free to use this website template without linking back to us. If you're having problems editing this website template, then don't hesitate to ask for help on the Forum.</p>
    <ul>
      <li> <a href="#"><img src="images/group-exercise.jpg" alt=""></a>
        <div>
          <h3><a href="#">Lorem ipsum dolor sit amet consectetur adipiscing elit maecenas sapien vierra aliquam a libero nuncmauris.</a></h3>
          <ul>
            <li>Aliquam eget ligula et diam sollicitud</li>
            <li>Sed venenatis arcu a felis aliquet et</li>
            <li>Sed laoreet felis et ante</li>
            <li>Viverra arcu a felis aliquet</li>
            <li>Pellentesque consectetur tellus sed</li>
          </ul>
          <ul>
            <li>Diam sollicitud Aliquam eget ligula</li>
            <li>Venenatis arcu a felis aliquet</li>
            <li>Felis et antessed laoreet</li>
            <li>Consectetur tellus Pellensteque</li>
            <li>Ullamcorper ut interdum sollicitud</li>
          </ul>
        </div>
      </li>
      <li> <a href="#"><img src="images/abdominal-exercise.jpg" alt=""></a>
        <div>
          <h3><a href="#">Vestibulum, lorem non scelerisque semper, tortor nisi suscipit magna, in faucibus augue id neque</a></h3>
          <span>Our website templates are created with inspiration, checked for quality and originality and meticulously sliced and coded. What's more, they're absolutely free! You can do a lot with them. You can modify them. You can use them to design websites for clients, so long as you agree with the Terms of Use.</span>
          <ul class="section">
            <li>Sollicitud Aliquam</li>
            <li>Arcu a felis aliquet</li>
            <li>Felis et antesed laoreet</li>
            <li>Tellus Pellentesque</li>
            <li>Quam commodo</li>
          </ul>
        </div>
      </li>
      <li> <a href="#"><img src="images/group-exercise2.jpg" alt=""></a>
        <div>
          <h3><a href="#">We Have More Templates for You</a></h3>
          <p>Looking for more templates? Just browse through all our Free Website Templates and find what you're looking for. But if you don't find any website template you can use, you can try our Free Web Design service and tell us all about it. Maybe you're looking for something different, something special. And we love the challenge of doing something different and something special.</p>
        </div>
      </li>
    </ul>
  </div>
</div>
<div id="footer">
  <div>
    <div>
      <div id="connect"> <span>Follow Us:</span> <a href="#"><img src="images/icon-2.jpg" alt=""></a> <a href="#"><img src="images/icon-1.jpg" alt=""></a> </div>
      <div class="section">
        <ul>
          <li class="first"><a href="#">Home</a></li>
          <li><a href="#">About Us</a></li>
          <li><a href="#">Services</a></li>
          <li><a href="#">Blog</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
        <p>Copyright &copy; <a href="#">Domain Name</a> - All Rights Reserved | Template By <a target="_blank" href="http://www.freewebsitetemplates.com/">FreeWebsiteTemplates.com</a></p>
      </div>
    </div>
  </div>
</div>
</body>
</html>
