<!DOCTYPE html>
<html>
<head>
<title>The Healthy Life | Blog</title>
<meta charset="utf-8">
<!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="../../../assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/flexslider/flexslider.css">    
    <link rel="stylesheet" href="../../../assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/plugins/layer-slider/layerslider/css/layerslider.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="../../../assets/css/themes/default.css" id="style_color">
	 <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

    <!-- CSS Customization -->
	<link id="styleCss" rel="stylesheet" type="text/css" href="css/style1.css" media="screen" />


</head>
<body>
<div id="page">
  <div id="header">
    <div> <a href="index.html"><img src="images/logo.gif" alt=""></a> </div>
    <ul>
      <li class="first"><a href="index.html">Home</a></li>
      <li><a href="recipes.html">Recipes</a></li>
      <li><a href="about.html">About us</a></li>
      <li class="selected"><a href="blog.html">Blog</a></li>
      <li class="last"><a href="contact.html">Contact Us</a></li>
    </ul>
  </div>
  
  
  <div id="content">
    <div id="blog">
      <div class="aside">
        <ul>
          <li class="first">
            <h2>Archives</h2>
            <h3>2011 <span>(60)</span></h3>
            <div>
              <p>November <span>(11)</span></p>
              <p>October <span>(3)</span></p>
              <p>September <span>(8)</span></p>
              <p>August <span>(3)</span></p>
              <p>July <span>(2)</span></p>
              <p>June</p>
              <p>May <span>(8)</span></p>
              <p>April <span>(7)</span></p>
              <p>March <span>(7)</span></p>
              <p>April <span>(7)</span></p>
              <p>February <span>(10)</span></p>
              <p>January <span>(1)</span></p>
            </div>
            <h3>2010</h3>
            <h3>2009</h3>
          </li>
          <li>
            <h2>Latest Added Recipes</h2>
            <p class="first">Lorem ipsum dolor sit amet,</p>
            <p>Consectetur adipiscin</p>
            <p>Nullam euismod varius</p>
            <p>Elementum</p>
            <p>Suspendisse potenti</p>
          </li>
          <li>
            <h2>Popular Recipes</h2>
            <p class="first">Lorem ipsum dolor sit amet,</p>
            <p>Consectetur adipiscin</p>
            <p>Nullam euismod varius</p>
            <p>Elementum</p>
            <p>Suspendisse potenti</p>
          </li>
        </ul>
      </div>
      <div>
        <ul>
          <li> <span id="date">Nov 09</span> <span class="connect"> <a href="#" class="twitter">Twitter</a> <a href="#" class="heart">Heart</a> <a href="#" class="facebook">Facebook</a> </span>
            <h1><a href="#">Newest Recipe with a Twist</a></h1>
            <h2 class="first">Strawberry Cream Tart</h2>
            <img src="images/strawberry-creme-tart.jpg" alt=""> 
            <b>강력분 150g / 박력분 150g / 차가운버터 180g</b>
			<b>찬물 105ml / 소금 3g / 딸기잼</b>
			<b>계란물 : 우유 3스푼 + 노른자1</b>
			<b>계란물 : 우유 3스푼 + 노른자1</b>
			<b>계란물 : 우유 3스푼 + 노른자1</b>
			<b>계란물 : 우유 3스푼 + 노른자1</b>
			<b>계란물 : 우유 3스푼 + 노른자1</b>
			<b>계란물 : 우유 3스푼 + 노른자1</b>
			<b>계란물 : 우유 3스푼 + 노른자1</b>
			<b>계란물 : 우유 3스푼 + 노른자1</b><br/>
            <br/>
            <h2>Let's bake!</h2>
            <p>구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자</p>
            <p>구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자구워보자</p>
          </li>
          <li> <span id="date">Nov 03</span> <span class="connect"> <a href="#" class="twitter">Twitter</a> <a href="#" class="heart">Heart</a> <a href="#" class="facebook">Facebook</a> </span>
            <h1><a href="#">곧 크리스마스구나!</a></h1>
            <h2>크리스마스를 위한 레시피</h2>
            <p>산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익산타 케익</p>
          </li>
        </ul>
        <div class="section"> <a href="#" class="newerpost">Newer Post</a> <a href="#">Home</a> <a href="#" class="olderpost">Older Post</a> </div>
      </div>
    </div>
  </div>
  
  
   <div id="footer">
    <div>
      <div>
        <div>
          <div class="first">
            <h3>공지사항</h3>
            <p>안녕하세요. 우리 사이트를 방문해주셔서 너무나 감사합니다. <a class="more" href="#">더보기</a></p>
          </div>
          <div>
            <h3>주소</h3>
            <p>경기도 성남시 중원구 하대원동 성남자이아파트 103동 2102호</p>
          </div>
          <div>
            <h3>Follow us</h3>
            <ul>
              <li><a href="#" class="facebook">Facebook</a></li>
              <li><a href="#" class="support">Support</a></li>
              <li><a href="#" class="twitter">Twitter</a></li>
              <li><a href="#" class="flicker">Flicker</a></li>
            </ul>
            <span>010-5199-6486</span> </div>
        </div>
      </div>
      <p class="footnote">Copyright &copy; <a href="#">Blink</a> - All Rights Reserved | Template By <a target="_blank" href="http://www.blink.com/">blink.com</a></p>
    </div>
  </div>
</div>
</body>
</html>
