<!DOCTYPE html>
<html>
<head>
<title>The Healthy Life | Contact</title>
<meta charset="utf-8">
<!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="../../../assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/flexslider/flexslider.css">    
    <link rel="stylesheet" href="../../../assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/plugins/layer-slider/layerslider/css/layerslider.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="../../../assets/css/themes/default.css" id="style_color">
	 <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

    <!-- CSS Customization -->
	<link id="styleCss" rel="stylesheet" type="text/css" href="css/style1.css" media="screen" />
	
</head>
<body>

<!--  header  -->
<div id="page">
  <div id="header">
    <div> <a href="index.html"><img src="images/logo.gif" alt=""></a> </div>
    <ul>
      <li class="first"><a href="index.html">Home</a></li>
      <li ><a href="recipes.html">Recipes</a></li>
      <li><a href="about.html">About us</a></li>
      <li><a href="blog.html">Blog</a></li>
      <li class="selected"><a href="contact.html">Contact Us</a></li>
    </ul>
  </div>
  
  <!-- content -->
  <div id="content">
    <div>
      <div class="aside">
        <div> <span>Follow Us</span>
          <ol>
            <li><a href="#" class="facebook">Facebook</a></li>
            <li><a href="#" class="subscribe">Subscribe</a></li>
            <li><a href="#" class="twitter">Twitter</a></li>
            <li><a href="#" class="flicker">Flicker</a></li>
          </ol>
          <span>Call Us</span> <b>819-4560 <span></span></b> <span>Address</span>
          <p>경기도 성남시 중원구 하대원동</p>
        </div>
        <div></div>
        <div></div>
      </div>
      <div>
        <h3>연락 주세요</h3>
        <form action="#">
          <span>당신의 이야기를 듣고 싶습니다.</span>
          <p>아무이야기나 좋습니다.아무이야기나 좋습니다.아무이야기나 좋습니다.아무이야기나 좋습니다.아무이야기나 좋습니다.아무이야기나 좋습니다.아무이야기나 좋습니다.아무이야기나 좋습니다.아무이야기나 좋습니다.</p>
          <label for="name">이름</label>
          <input type="text" id="name">
          <label for="email">E-mail</label>
          <input type="text" id="email">
          <label for="subject">제목</label>
          <input type="text" id="subject">
          <textarea name="subject" cols="30" rows="10"></textarea>
          <input type="submit" value="" class="submit">
        </form>
      </div>
    </div>
  </div>
  
  
  <!-- footer -->
  <div id="footer">
    <div>
      <div>
        <div>
          <div class="first">
            <h3>공지사항</h3>
            <p>안녕하세요. 우리 사이트를 방문해주셔서 너무나 감사합니다. <a class="more" href="#">더보기</a></p>
          </div>
          <div>
            <h3>주소</h3>
            <p>경기도 성남시 중원구 하대원동 성남자이아파트 103동 2102호</p>
          </div>
          <div>
            <h3>Follow us</h3>
            <ul>
              <li><a href="#" class="facebook">Facebook</a></li>
              <li><a href="#" class="support">Support</a></li>
              <li><a href="#" class="twitter">Twitter</a></li>
              <li><a href="#" class="flicker">Flicker</a></li>
            </ul>
            <span>010-5199-6486</span> </div>
        </div>
      </div>
      <p class="footnote">Copyright &copy; <a href="#">Blink</a> - All Rights Reserved | Template By <a target="_blank" href="http://www.blink.com/">blink.com</a></p>
    </div>
  </div>
</div> 
</body>
</html>
