html {
	 
	 font-family: 'Trebuchet MS', sans-serif, Arial, Helvitica; 
}

body {
	background-color: #FFFFFF; 
	margin: 0;
		
	}
#background {
	/* 1440 */
	background: url(../../shop_images/bg-body.jpg) repeat;
	min-height: 1300px;
	border-top: 1px solid #cc9f0f;
}
#page {
	/* 페이지 너비 */
	width: 960px;
	margin: 0 auto;
}
@font-face {
 font-family: 'CorbenBold';
 src: url('fonts/corben-bold-webfont.eot');
 src: local('?'), url('fonts/corben-bold-webfont.woff') format('woff'),  url('fonts/corben-bold-webfont.ttf') format('truetype'),  url('fonts/corben-bold-webfont.svg') format('svg');
 font-weight: normal;
 font-style: normal;
} 


/*------------------------------ HEADER ------------------------------*/
#header {
	min-height: 140px;
	margin-bottom: 120px;
	}

/* 상단정보 (view bags, checkout) */
#infos {
	float: right;
	color: #635320;
	display: inline-block;
	height: 30px;
	width: 200px;
	margin: 15px 0;
}
/* 상단정보 (각각 view bags, checkout) */

#infos a {
	color: #635320;
	font-family: Arial;
	font-size: 14px;
	line-height: 30px;
	margin: 0 5px;
	text-decoration: none;
}
/** Navigation **/
#navigation {
	height: 40px;
	list-style-type: none;
	margin: 0;
	padding: 8px 20px 12px 0;
}
#navigation li {
	float: left;
	font-family: 'CorbenBold';
	font-size: 22px;
	font-weight: bold;
	line-height: 40px;
	width: 186px;
	text-align: center;
}
#navigation a {
	color: #9d7912;
	text-decoration: none;
}
#navigation a:hover, #navigation li.selected a {
	color: #f9f9f5;
	text-shadow: 1px 1px 0 #a8840b;
}

/*------------------------------ FOOTER ------------------------------*/
#footer {
	padding: 0 5px;
}
#description {
	margin: 0 0 30px;
	padding: 0 0 30px;
}
#description div {
	float: left;
	width: 180px;
	margin-right: 50px;
}
#description div a.logo {
	background: url(../../shop_images/logo-footer.gif) no-repeat;
	display: block;
	height: 30px;
	width: 175px;
	margin: 0 0 10px;
}
#description div span {
	color: #9d7912;
	display: block;
	font-size: 11px;
	line-height: 20px;
}
#description div span a {
	color: #9d7912;
	text-decoration: none;
}
#description p {
	color: #9d7912;
	font-size: 13px;
	line-height: 20px;
	margin: 20px 0;
	text-align: justify;
}
#description p a {
	color: #9d7912;
}
#footer div.navigation {
	color: #ffffff;
	font-size: 14px;
	line-height: 20px;
	width: 400px;
	margin: 0 auto 20px;
	text-shadow: 0 1px 0 #af9e31;
}
#footer div.navigation a {
	color: #ffffff;
	padding: 0 15px;
	text-decoration: none;
	text-shadow: 1px 1px 0 #af9e31;
}
#footer div.navigation a:hover {
	color: #9d7912;
}


/*------------------------------ CONTENTS ------------------------------*/
#contents {
	margin: 0 0 40px;
	padding: 0 5px;
}
#main {
	background: url(../../shop_images/border-dashed.jpg) repeat-x left bottom; */
	margin: 0 0 30px;
	padding: 0 0 30px;
}
#main p {
	color: #755a0b;
	font-size: 14px;
	line-height: 20px;
	margin: 0;
	padding: 0 0 20px;
}
#main p a {
	color: #755a0b;
}
#main address {
	color: #ffffff;
	font-style: normal;
	width: 350px;
	margin: 0 auto;
	text-align: center;
}
#main address span {
	color: #9d7912;
	display: block;
	font-family: 'CorbenBold';
	font-size: 18px;
	line-height: 20px;
	margin: 20px 0;
	width: 350px;
}

#featured {
	background: url(/../../shop_images/border-dashed.jpg) repeat-x left bottom;
	padding: 0 0 42px;
	position: relative;
}
#featured ul {
	display: inline-block;
	list-style-type: none;
	margin: 0 auto;
	padding: 0;
}
#featured ul li {
	float: left;
	background: #ffffff url(../../shop_images/bottom-shadow-img.jpg) no-repeat center bottom;
	height: 253px;
	width: 204px;
	margin-right: 28px;
 	padding: 6px 6px 15px;
}
#featured ul li.last {
	margin-right: 0;
}
#featured ul li img {
	border: 2px solid #6799FF;
}
#featured a.button {
	background: url(../../shop_images/bg-button.jpg) no-repeat;
	color: #8e7217;
	display: block;
	font-family: 'CorbenBold';
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	width: 144px;
	padding: 4px 0 6px;
	text-align: center;
	text-decoration: none;
	position: absolute;
	bottom: -20px;
	left: 403px;
}


/*------------------------------ Blog Page ------------------------------*/
#blogs {
	background: url(../../shop_images/border-dashed.jpg) repeat-x left bottom;
	padding: 0 0 20px;
	position: relative;
}
#blogs div {
	background: url(../../shop_images/border-dashed.jpg) repeat-x left bottom;
	display: inline-block;
	margin: 0 0 20px;
	padding: 0 0 20px;
}
#blogs div.last {
	background: none;
	margin: 0;
}

/* 이미지 영역 */
#blogs span {
	float: left; 
	background: #ffffff url(../../shop_images/bottom-shadow-img.jpg) no-repeat center bottom;
	display: block;
	height: 253px;
	width: 204px;
	margin-bottom: 6px;
	margin-right: 40px;
	padding: 6px 6px 15px;
}
#blogs span img {
	border: 1px solid #e4e0d1;
}

/* 이미지옆에 글 영역 */
#blogs h3 {
	background: url(../../shop_images/border-dashed.jpg) repeat-x left bottom;
	line-height: 30px;
	margin: 0 0 20px 258px;
	padding: 0 0 10px;
}
#blogs p {
	color: #755a0b;
	max-height: 160px;
	line-height: 20px;
	margin: 0 0 20px 258px;
	padding: 0 0 20px;
	overflow: hidden;
}
#blogs p a {
	color: #755a0b;
}
#blogs a.more {
	color: #000000;
	font-style: italic;
	text-decoration: none;
}
#blogs div.buttons, #blogs div.blog-entry-buttons {
	background: none;
	display: inline-block;
	width: 328px;
	margin: 0;
	padding: 0;
	position: absolute;
	bottom: -20px;
	left: 311px;
}
#blogs div.buttons a, #blogs div.blog-entry-buttons a {
	float: left;
	background: url(../../shop_images/bg-button.jpg) no-repeat;
	color: #8e7217;
	display: block;
	font-family: 'CorbenBold';
	font-size: 18px;
	height: 30px;
	line-height: 30px;
	width: 144px;
	margin-right: 20px;
	padding: 4px 0 6px;
	text-align: center;
	text-decoration: none;
}
#blogs div.blog-entry-buttons {
	width: 690px;
	left: 258px;
}
#blogs div.blog-entry-buttons a.back {
	float: right;
	font-size: 16px;
	margin-right: 0;
}
