<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<meta name="Robots" content="index,follow" />
	<meta name="author" content="Luka Cvrk (www.solucija.com)" />
	<meta name="description" content="Description" />
	<meta name="keywords" content="key, words" />

	<!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="../../../assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/flexslider/flexslider.css">    
    <link rel="stylesheet" href="../../../assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/plugins/layer-slider/layerslider/css/layerslider.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="../../../assets/css/themes/default.css" id="style_color">
	 <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="../../../assets/css/custom.css">


	<link id="styleCss" rel="stylesheet" type="text/css" href="css/style1.css" media="screen" />

	<title>templete by Blink</title>
 </head>

 <body>
	<div id="header">
	<div id="logobg">
		<div id="logo">
			<a href="index.html">Restaurant</a>
		</div>
	</div>
		
	</div>
	<div class="line2"></div>
	
	<div id="body">
		<div id="menu">
			<div id="side">
			<ul>
				<div id="list"><li><a href="index.html">Home</a></li></div>
				<div id="list"><li><a href="about.html">About</a></li></div>
				<div id="list"><li><a href="menu.html">Menu</a></li></div>
				<div id="list"><li><a href="contact.html">Contact</a></li></div>
			</ul>
			</div>
		</div>

		<div id="content">
				<header>
					<h1>Restaurant</h1>
				</header>
					<p>내용입력!!! 내용입력!!! 내용입력!!! 내용입력!!! 내용입력!!! 내용입력!!! 내용입력!!!<br/>
					내용입력!!! 내용입력!!! 내용입력!!! 내용입력!!! 내용입력!!! 내용입력!!! 내용입력!!!<br/>
					내용입력!!! 내용입력!!! 내용입력!!! 내용입력!!! 내용입력!!! 내용입력!!! 내용입력!!!<br/>
					   </p>
			</div><br/><br/>
			<div id="clear"></div>

	</div>

	<div id="footer">
			<p>&copy; Copyright 2009 Distinctive &minus; Design: Hwnag, <a href="http://www.solucija.com" title="Free CSS Templates">Blink</a></p>
	</div>	





 </body>
</html>
