@CHARSET "utf-8";

/*
	=====================================
	project: Distinctive
	author:  Luka Cvrk (www.solucija.com)
	-------------------------------------
	2009. Solucija
	=====================================
*/
* {
	margin: 0;
	padding: 0
}

:focus,:active {
	outline: 0
}

img {
	border: 0
}

body {
	font: .8em Arial, Tahoma, Verdana;
	background-color:#1a1a1a;
	color: #777;
	

}

a {
	text-decoration: none;
	color: #B20F0F;
}

h1 {
	font-size: 1.4em;
	font-weight: normal;
}

h1 a {
	color: #fff;
	font-size: 1.6em;
}

h2 {
	font-size: 1.2em;
}

h3 {
	font-size: 1.2em;
	background-color:#3f4541;
	padding: 6px 7px;
	color: #fff;
	font-weight: normal;
	margin: 0 0 15px;
	float: left;
}

h4 {
	margin: 0 0 15px;
	color: #555;
	font-weight: normal;
	font-size: 1.6em;
	font-weight: normal;
}

p {
	clear: both;
	line-height: 1.64em;
	margin: 0 0 15px;
}

.line1 {
	display:none;
	clear: both;
	border-bottom: 1px solid #ddd;
	margin: 0 0 45px;
}

.line2 {
	clear: both;
	border-bottom: 1px solid #ddd;
	margin: 0 0 45px;
}

.clear {
	clear: both;
	
	
}

#content {
	width: 970px;
	margin: 0 auto;
}

#top {
	color: #ccc;
	padding: 6px 20px 0;
	font-size: .84em;
	text-align: right;
}

#logo {
	text-align:center;
	
	padding: 30px 25px 15px;
	
}

#logo h1 {
	text-shadow: 1px 1px 1px #black;
}

#menu {
	float:left;
	width:100px;
	margin: 20px 50px 0px 10px;
	padding: 200px 0 250px 150px;
}

#menu li {

	display:inline;	
	font-size: 2.3em;
	
}

#menu li a {
	float: left;
	color: #efefef;
	padding: 0 0 5px;
	margin: 0 0 0 5px;
}

#menu li a:hover,#menu li.current a,#menu li a:focus {
	color: #ffff80;
	border-bottom: 1px solid #ffff80;
}

#main{

	background: url(../images/main4.jpg) repeat-x;
	width:900px;
}

#pitch {
	width:500px;
	float:left;
	padding: 30px 0px 0 0;
	
	height: 600px;
	margin: 0 0 35px;
}

#pitch h1 {
	font-size: 2.6em;
	color: #000;
	margin: 0 0 20px;
}

#pitch h2 {
	line-height: 1.5em;
}

.left {
	float: left;
	width: 250px;
}

.right {
	float: right;
	width: 630px;
	margin: 0 0 20px;
}

.right h3 {
	background-color:#3f4541;
	font-size: .84em;
}

.third {
	float: left;
	width: 296px;
	margin: 0 40px 20px 0;
}

.last {
	margin-right: 0;
}

#footer {
	clear: both;
	font-size: .84em;
	border-top: 1px solid #ddd;
	padding: 20px 0 0;
}


/* Contact관련 */

textarea {
	height:100px;
	width:500px;
	overflow:visible;
	}

input{
	height:25px;
	width:500px;
	overflow:visible;

	}
	/* work관련 */

.box
		{
			
			background: #1a1a1a;
			border-bottom: solid 1px #ccc;
		}
		
			.box .image.featured
			{
				position: relative;
				width: auto;
			}

/* Rows */

		.row > * {
			float: left;
		}

		.row:after {
			content: '';
			display: block;
			clear: both;
			height: 0;
		}

		.row:first-child > * {
			padding-top: 0 !important;
		}

		/* Normal */

			.row > * {
				/* padding-left: (gutters) */
				padding-left: 40px;
			}

			.row + .row > * {
				/* padding: (gutters) 0 0 (gutters) */
				padding: 40px 0 0 40px;
			}

			.row {
				/* margin-left: -(gutters) */
				margin-left: -40px;
			}

		/* Flush */

			.row.flush > * {
				padding-left: 0;
			}

			.row + .row.flush > * {
				padding: 0;
			}

			.row.flush {
				margin-left: 0;
			}

		/* Quarter */

			.row.quarter > * {
				/* padding-left: (gutters * 0.25) */
				padding-left: 10px;
			}

			.row + .row.quarter > * {
				/* padding: (gutters * 0.25) 0 0 (gutters * 0.25) */
				padding: 10px 0 0 10px;
			}

			.row.quarter {
				/* margin-left: -(gutters * 0.25) */
				margin-left: -10px;
			}

		/* Half */

			.row.half > * {
				/* padding-left: (gutters * 0.5) */
				padding-left: 20px;
			}

			.row + .row.half > * {
				/* padding: (gutters * 0.5) 0 0 (gutters * 0.5) */
				padding: 20px 0 0 20px;
			}

			.row.half {
				/* margin-left: -(gutters * 0.5) */
				margin-left: -20px;
			}

		/* One and (a) Half */

			.row.oneandhalf > * {
				/* padding-left: (gutters * 1.5) */
				padding-left: 60px;
			}

			.row + .row.oneandhalf > * {
				/* padding: (gutters * 1.5) 0 0 (gutters * 1.5) */
				padding: 60px 0 0 60px;
			}

			.row.oneandhalf {
				/* margin-left: -(gutters * 1.5) */
				margin-left: -60px;
			}

		/* Double */

			.row.double > * {
				/* padding-left: (gutters * 2) */
				padding-left: 80px;
			}

			.row + .row.double > * {
				/* padding: (gutters * 2) 0 0 (gutters * 2) */
				padding: 80px 0 0 80px;
			}

			.row.double {
				/* margin-left: -(gutters * 2) */
				margin-left: -80px;
			}

	header
		{
		}

			header > p
			{
				display: block;
				font-style: italic;
			}

			header.major
			{
				position: relative;
				text-align: center;
				border-top: solid 1px #ccc;
				top: 1em;
			}

				header.major h2
				{
					background: #1a1a1a;
					font-size:1.7em;
					position: relative;
					top: -0.65em;
					display: inline;
					margin: 0;
					padding: 0 1em 0 1em;
				}


	/* about 관련 */

#al{
	float:left;
	}

#ar{
	float:right;
	}

#about{
	
	padding: 0 0 20px 0;
}