<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>

	<!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="../../../assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/flexslider/flexslider.css">    
    <link rel="stylesheet" href="../../../assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/plugins/layer-slider/layerslider/css/layerslider.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="../../../assets/css/themes/default.css" id="style_color">
	 <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="../../../assets/css/custom.css">
    
	<meta name="author" content="Luka Cvrk (www.solucija.com)" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link id="styleCss" rel="stylesheet" type="text/css" href="css/style1.css" media="screen" />
	<title>WatchThis!</title>
</head>
<body>
	<div id="header">
		<img src="images/site.gif" id="image"/>
		<h1>FREE<span class="emp">LINE</span></h1>
		<p>CREATIVE STUDIO</p>
		
		<nav id="menu">
			<ul id="top">
				<li id="home"><a href="index.html">Home</a></li>
				<li id="menu1"><a href="menu1.html">Menu1</a><li>
				<li id="menu2"><a href="menu2.html">Menu2</a></li>
				<li id="menu3"><a href="#">Menu3</a></li>

			</ul>
		</nav>

		<div id="contain">
			<img alt="그림" src="images/bgimg5.jpg" width="722px" height="362px">
		</div>
		<div id="div1">
			<h2><span class="emp">DESIGNING FOR</span><br>SOCIAL IMPACT</h2>
		</div>
		<div id="div2">
			<h5>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.</h5>
			<br>
			<div id="btn">
			<button class="modern">VIEW MORE</button>
			</div>
		</div>
		<div id="div3">
			<span class="emp">MAKE</span><br><h4> AN ORDER ONE</h4>
		</div>
		<div id="div4">
			<h2><span>WHAT'S UP</span></h2>

		</div>
		<div id="div5">
			<h2><span>LAST EVENT</span></h2>

		</div>
		<div id="div6">
			<h2><span>CONTACTS</span></h2>
		</div>
		<div id="div7">
		<h5><span class="emp">CURRENT PROJECT</span></h5>
		<br>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.
		</div>
		<div id="div8">
		8
		</div>
		<div id="div9">
			서욽특별시 광진구 화양동 건국대학교<br><br>
			Tel: 123-456-7890<br><br>
			Fax: 123-456-7890
 
			Mail: info@mysite.com
		</div>
		<div id="div10">
		10
		</div>
		<div id="div11">
		11
		</div>
		<div id="div12">
		12
		</div>

		
		<div id="footer">
			© 2014 BY FREE LINE CREATIVE STUDIO. PROUDLY MADE BY BLINK
		</div>
	</body>
</html>