<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="author" content="Luka Cvrk (www.solucija.com)" />
	<meta http-equiv="content-type" content="text/html;charset=utf-8" />
	<link id="styleCss" rel="stylesheet" type="text/css" href="css/style1.css" media="screen" />
	<!-- Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" href="favicon.ico">

    <!-- CSS Global Compulsory -->
    <link rel="stylesheet" href="../../../assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../assets/css/style.css">

    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="../../../assets/plugins/line-icons/line-icons.css">
    <link rel="stylesheet" href="../../../assets/plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../../../assets/plugins/flexslider/flexslider.css">    
    <link rel="stylesheet" href="../../../assets/plugins/owl-carousel/owl-carousel/owl.carousel.css">
    <link rel="stylesheet" href="../../../assets/plugins/layer-slider/layerslider/css/layerslider.css">

    <!-- CSS Theme -->    
    <link rel="stylesheet" href="../../../assets/css/themes/default.css" id="style_color">
	 <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">

    <!-- CSS Customization -->
    <link rel="stylesheet" href="../../../assets/css/custom.css">
    
	<title>WatchThis!</title>
</head>
<body>
	<div id="header">
		<img src="images/site.gif" id="image"/>
		<h1>FREE<span class="emp">LINE</span></h1>
		<p>CREATIVE STUDIO</p>
		<nav id="menu">
			<ul id="top">
				<li id="home"><a href="index.html">Home</a></li>
				<li id="menu1"><a href="menu1.html">Menu1</a><li>
				<li id="menu2"><a href="menu2.html">Menu2</a></li>
				<li id="menu3"><a href="#">Menu3</a></li>

			</ul>
		</nav>

		<div id="contain1">
			<div id="con1">
			<h2><span class="emp">ABOUT </span>FREE<span class="emp">LINE</span></h2>
			
			<div id="conimg">
				<img src="images/bgimg2.jpg" width="450px" height="250px">
			</div>
			
			<div id="con2">
			<h5>위데오의 탄생 배경에는 문제제기가 있었다. CEO인 아구는 기업의 효과적인 모객 방법에 대해 고민을 했고, 결론적으로 제작 비용이 들지 않는 애니메이션 동영상 제작 프로그램을 	구상하게 됐다. 그리고 이 아이디어를 현실화 하기 위해 위데오가 출발한 것이다. 그렇게 시작된 위데오는 현재 전세계 200개 이상의 국가에서 260,000명 이상의 사용자가 사용하고 있다.</h5><br>
			<h3><span class="emp">위데오에 대해서</span><h3><br>
			<h5>위데오의 탄생 배경에는 문제제기가 있었다. CEO인 아구는 기업의 효과적인 모객 방법에 대해 고민을 했고, 결론적으로 제작 비용이 들지 않는 애니메이션 동영상 제작 프로그램을 	구상하게 됐다. 그리고 이 아이디어를 현실화 하기 위해 위데오가 출발한 것이다. 그렇게 시작된 위데오는 현재 전세계 200개 이상의 국가에서 260,000명 이상의 사용자가 사용하고 있다.</h5>	
			</div>

			<div id="con3">
				<h2><span class="emp">회사이념</span></h2>
			</div>
			<div id="con4">
				<h2><span class="emp">프로젝트</span></h2>
			</div>
			<div id="con5">
				<h2><span class="emp">파트너사</span></h2>
			</div>

			<div id="con6">
				<h5>위데오의 탄생 배경에는 문제제기가 있었다. CEO인 아구는 기업의 효과적인 모객 방법에 대해 고민을 했고, 결론적으로 제작 비용이 들지 않는 애니메이션 동영상 제작 프로그램을 	구상하게 됐다. 그리고 이 아이디어를 현실화 하기 위해 위데오가 출발한 것이다. 그렇게 시작된 위데오는 현재 전세계 200개 이상의 국가에서 260,000명 이상의 사용자가 사용하고 있다.</h5>
			</div>
			<div id="con7">
				<h5>위데오의 탄생 배경에는 문제제기가 있었다. CEO인 아구는 기업의 효과적인 모객 방법에 대해 고민을 했고, 결론적으로 제작 비용이 들지 않는 애니메이션 동영상 제작 프로그램을 	구상하게 됐다. 그리고 이 아이디어를 현실화 하기 위해 위데오가 출발한 것이다. 그렇게 시작된 위데오는 현재 전세계 200개 이상의 국가에서 260,000명 이상의 사용자가 사용하고 있다.</h5>
			</div>
			<div id="con8">
				<h5>위데오의 탄생 배경에는 문제제기가 있었다. CEO인 아구는 기업의 효과적인 모객 방법에 대해 고민을 했고, 결론적으로 제작 비용이 들지 않는 애니메이션 동영상 제작 프로그램을 	구상하게 됐다. 그리고 이 아이디어를 현실화 하기 위해 위데오가 출발한 것이다. 그렇게 시작된 위데오는 현재 전세계 200개 이상의 국가에서 260,000명 이상의 사용자가 사용하고 있다.</h5>
			</div>			

		
		</div>
		
		
		<div id="sty4">
			<h2><span>WHAT'S UP</span></h2>

		</div>
		<div id="sty5">
			<h2><span>LAST EVENT</span></h2>

		</div>
		<div id="sty6">
			<h2><span>CONTACTS</span></h2>
		</div>
		<div id="sty7">
		<h5><span class="emp">CURRENT PROJECT</span></h5>
		<br>I'm a paragraph. Click here to add your own text and edit me. I’m a great place for you to tell a story and let your users know a little more about you.
		</div>
		<div id="sty8">
		8
		</div>
		<div id="sty9">
			서욽특별시 광진구 화양동 건국대학교<br><br>
			Tel: 123-456-7890<br><br>
			Fax: 123-456-7890
 
			Mail: info@mysite.com
		</div>
		<div id="sty10">
		10
		</div>
		<div id="sty11">
		11
		</div>
		<div id="sty12">
		12
		</div>

		
		<div id="footer">
			© 2014 BY FREE LINE CREATIVE STUDIO. PROUDLY MADE BY BLINK
		</div>
	</body>
</html>